image: php:7.4

cache:
  paths:
    - vendor/

variables:
  MYSQL_ROOT_PASSWORD: password
  MYSQL_DATABASE: enth_docker
  MYSQL_USER: enth_docker
  MYSQL_PASSWORD: password

test:
  services:
    - mysql:5.7
  script:
    - apt-get update -yqq
    - apt-get install -yqq git zip unzip default-mysql-client
    - docker-php-ext-install pdo pdo_mysql
    - curl -sS https://getcomposer.org/installer | php
    - rm composer.lock
    - php composer.phar install
    - php -S localhost:8081 --docroot public &>/dev/null&
    - cp -R docker/samplefl300members public/samplefl300members
    - cp docker/configs/config-with-listing-1.php public/samplefl/config.php
    - cp docker/configs/config-enthusiast-folder.php public/enthusiast/config.php
    - cp docker/configs/config-without-listing.php public/config.php
    - cp docker/configs/config-without-listing.php public/samplecollective/config.php
    - echo "SELECT 'OK';" | mysql -uroot -p"$MYSQL_ROOT_PASSWORD" -h mysql "$MYSQL_DATABASE"
    - mysql -uroot -p"$MYSQL_ROOT_PASSWORD" -h mysql < "docker/gitlabci.sql"
    - php vendor/bin/codecept run --steps --xml --env gitlabci
  artifacts:
    when: on_failure
    expire_in: 2 days
    paths:
      - tests/_output/
    reports:
      junit: tests/_output/report.xml

artifacts_php72:
  stage: artifacts
  only:
    refs:
      - master
      - develop
  script:
    - apt-get update -yqq
    - apt-get install -yqq git zip unzip
    - curl -sS https://getcomposer.org/installer | php
    - rm composer.lock
    - rm composer.json
    - php composer.phar require rector/rector
    - php composer.phar install
    - vendor/bin/rector process --config rector-downgrade-72.php
  artifacts:
    name: "enthusiast-php72-php-73-$CI_COMMIT_REF_NAME"
    paths:
      - public

stages:
  - test
  - artifacts