body, html, * {
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#990000;
	background:#F7E7B0;
}

p, h1, h3, a, td, ul, ol, li {
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
	color:#990000;
}

ul, ol {
	margin:10px 0;
}

li {
	font-size:12px;
	margin:2px 10px 5px 15px;
}

p, td {
	font-size:12px;
	margin: 15px;
}

h1 {
	font-size:26px;
	font-weight:bold;
}

h3 {
	font-size:14px;
	font-weight:bold;
}

a, {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
	color:#990000;
	text-decoration:underline;
}

a:hover {
	background-color:#F5DE8D;
	text-decoration:none;
}

div.ichc {
	border:1px solid #EED98F;
	padding:8px;
	width:375px;
	margin:25px auto;
}

div.ichcpercent {
	border:1px solid #EED98F;
	padding:8px;
	width:60%;
	margin:25px auto;
}

.footer {
	color: #C1AE71;
	font-style: italic;
	text-align:center;
}

ul {}

li {
	margin:0 5px 0 35px;
	list-style-type:circle;
}